$blue: #007bff;

$main-background-color: white;
$main-text-color: black;
$main-link-color: $blue;
$main-link-visited-color: $blue;

$callout-background-color: #ddd;
$callout-text-color: black;
$callout-link-color: black;
$callout-link-visited-color: black;
$callout-link-active-color: #c00000;

$highlight-background-color: #eee;


body {
    background-color: $main-background-color;
}

.book-toc-content {
    color: $callout-text-color;
    scrollbar-width: none;
}

.book-toc-content a {
    color: $callout-link-color;
}

.book-toc-content a:visited {
    color: $callout-link-color;
}


.book-search input {
    background-color: $main-background-color;
}

.book-menu .book-menu-content {
    background-color: $callout-background-color;
    color: $callout-text-color;
    scrollbar-width: none;
}

.book-menu a {
    color: $callout-link-color;
}

.book-menu a:visited {
    color: $callout-link-visited-color;
}

.book-menu a.active {
    color: $callout-link-active-color;
}

.book-menu a:visited.active {
    color: $callout-link-active-color;
}

a {
    color: $main-link-color;
}

a:visited {
    color: $main-link-color;
}

.markdown a {
    color: $main-link-color;
}

.markdown a:visited {
    color: $main-link-color;
}

.markdown pre {
    background-color: $highlight-background-color;
    scrollbar-color: $callout-background-color $highlight-background-color;
    color: $callout-text-color;
    margin: 0;
    padding: 0.25em 0.5em;
}

.markdown code {
    background: $highlight-background-color;
}

.markdown code.language-prompt:before  {
    content: "% ";
}

.markdown table th {
    background: $highlight-background-color;
}

.markdown table tr:nth-child(2n) {
    background: $highlight-background-color;
}

.markdown table tr:nth-child(2n+1) {
    background: $callout-background-color;
}

div.goat {
    background-color: $highlight-background-color;
}

div.goat svg circle[fill="#fff"] {
     fill:$highlight-background-color; 
}
