
// font explorations
/*
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
body {
  font-family: "Barlow", sans-serif;
}
code {
  font-family: "Inconsolata", monospace;
}
*/

.markdown h1,.markdown h2,.markdown h3,.markdown h4,.markdown h5,.markdown h6 {
    font-weight: 700;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}

.markdown p {
    font-weight: 500;
}

p {
    font-weight: 500;
}

//------------------------

$blue: #0a58ac;
$red: #c00000;
$green: #0c7a02;

$main-background-color: white;
$main-text-color: black;
$main-link-color: $blue;
$main-link-visited-color: $blue;

$callout-background-color: #d8d8d8;
$callout-text-color: black;
$callout-link-color: black;
$callout-link-visited-color: black;
$callout-link-active-color: $red;

$highlight-background-color: #e8e8e8;
$highlight-text-color: $green;

body {
    background-color: $main-background-color;
}

.book-toc-content {
    color: $callout-text-color;
    scrollbar-width: none;
}

.book-toc-content a {
    color: $callout-link-color;
}

.book-toc-content a:visited {
    color: $callout-link-color;
}

.book-search input {
    background-color: $main-background-color;
}

.book-menu .book-menu-content {
    background-color: $callout-background-color;
    color: $callout-text-color;
    scrollbar-color: #AAA $callout-background-color;
}

.book-menu a {
    color: $callout-link-color;
}

.book-menu a:visited {
    color: $callout-link-visited-color;
}

.book-menu a.active {
    color: $callout-link-active-color;
}

.book-menu a:visited.active {
    color: $callout-link-active-color;
}

a {
    color: $main-link-color;
}

a:visited {
    color: $main-link-color;
}

.markdown a {
    color: $main-link-color;
}

.markdown a:visited {
    color: $main-link-color;
}

.markdown pre {
    background-color: $highlight-background-color;
    scrollbar-color: $callout-background-color $highlight-background-color;
    color: $callout-text-color;
    margin: 0;
    padding: 0.25em 0.5em;
    border-radius: 0;
    outline-style:none;
}

.markdown pre:active {
    border: none;
}

.markdown code {
    background: $highlight-background-color;
    color: $main-text-color;
}

.markdown code.language-prompt {
    color: $highlight-text-color;
    font-weight: 600;
    text-wrap: wrap;
}

.markdown code.language-prompt:before  {
    content: "$ ";
    color: $main-text-color;
}

.markdown table th {
    background: $highlight-background-color;
}

.markdown table tr:nth-child(2n) {
    background: $highlight-background-color;
}

.markdown table tr:nth-child(2n+1) {
    background: $callout-background-color;
}

div.goat {
    background-color: $highlight-background-color;
}

div.goat svg circle[fill="#fff"] {
     fill:$highlight-background-color; 
}

.copy-code-button {
    color: $highlight-text-color;
    background-color: $highlight-background-color;
    border: 1px dashed;
    display: block; /* right-align */
    margin: 4px 0 -2px auto;
    padding: 3px 8px;
    font-size: 0.8em;
}

.copy-code-button:hover {
    cursor: pointer;
    background-color: $callout-background-color;
}

.copy-code-button:focus {
    background-color: $callout-background-color;
    outline: 0;
}
